.git
.gradle
.gradle-user
.idea
.kotlin

**/build
**/.DS_Store

local.properties
.env
.env.*

!build/
!build/documentation/
!build/documentation/html/
!build/documentation/html/**
!server/build/
!server/build/install/
!server/build/install/server/
!server/build/install/server/**
!.env.example
