# This value can be overridden by the deployment workflow on main.
SERVER_IMAGE=<SET_ON_SERVER_OR_OVERRIDDEN_BY_CI>
# This value can be overridden by the deployment workflow on main.
APP_VERSION=<SET_ON_SERVER_OR_OVERRIDDEN_BY_CI>
PORT=<SET_ON_SERVER>
POSTGRES_DB=<SET_ON_SERVER>
POSTGRES_USER=<SET_ON_SERVER>
POSTGRES_PASSWORD=<SET_ON_SERVER>
