# This value can be overridden by the deployment workflow on main.
SERVER_IMAGE=ghcr.io/example/se2risiko-server:v1.0.0
# This value can be overridden by the deployment workflow on main.
APP_VERSION=v1.0.0
PORT=8080
POSTGRES_DB=pulverfass
POSTGRES_USER=pulverfass
POSTGRES_PASSWORD=change-me
