Aldin Mahmutovic <aldinma@edu.aau.at>

Jakob Gruber <j1gruber@edu.aau.at>

Marco Orasch <marcoor@edu.aau.at>

Martin Lackner <martinlac@edu.aau.at>
Martin Lackner <martinlac@edu.aau.at> <martinlackner877@gmail.com>

Matthias Trinkl <matrinkl@edu.aau.at>
Matthias Trinkl <matrinkl@edu.aau.at> <matthias.trinkl@gmail.com>

Paul Pridnig <paulpri@edu.aau.at>
Paul Pridnig <paulpri@edu.aau.at> <pridnigp@msn.com>

Robin Overmann <r1overmann@edu.aau.at>
Robin Overmann <r1overmann@edu.aau.at> <robinovermann@aol.com>
